@font-face {
	font-family: "Open Sans";
	src:
		local("Open Sans"),
		local("Open-Sans"),
		local("Open_Sans"),
		url("@fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf")
			format("truetype");
	font-style: normal;
	font-display: swap;
}

:root {
	--text-color: oklch(39.33% 0.019 229.47deg);
	--blue-charcoal-lch: 29.03% 0.012 248.23deg;
	--fs-base: 62.5%;
}

html {
	height: 100%;
	font-size: var(--fs-base);
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	color: var(--text-color);
	font-family: "Open Sans", sans-serif;
}

.main {
	display: grid;
	grid-template-columns: minmax(auto, 768px);
	justify-content: center;
	padding: 10px;
}

.items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1.5rem;
	grid-row-gap: 1.5em;
}

.card {
	display: block;
	border-radius: 5px;
	margin: 0 0 20px;
	text-decoration: none;
	animation-name: fade;
	animation-duration: 4s;
	box-shadow:
		8px 14px 38px oklch(var(--blue-charcoal-lch) / 6%),
		1px 3px 8px oklch(var(--blue-charcoal-lch) / 3%);
}

.card img {
	height: auto;
	width: 100%;
	border-radius: 5px 5px 0 0;
}

.card h2 {
	display: flex;
	justify-content: space-between;
	padding: 5px 10px;
	font-size: 18px;
	font-weight: 300;
}

@keyframes fade {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.main__items-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
	gap: 4rem;
}
